@import "tailwindcss";

:root {
  --pot-beige: #ede1d4;
  --pot-brown: #cc8550;
  --pot-dark-brown: #874d2f;
  --pot-darker-brown: #573626;
  --pot-gray: #4a4747;
}

@theme inline {
  --color-pot-beige: var(--pot-beige);
  --color-pot-brown: var(--pot-brown);
  --color-pot-dark-brown: var(--pot-dark-brown);
  --color-pot-darker-brown: var(--pot-darker-brown);
  --color-pot-gray: var(--pot-gray);
}

body {
  overflow-x: hidden;
}

.leftSide,
.rightSide,
.baked-bg,
.cta {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
}

.leftSide {
  background-image: url("../../public/images/hero-left.png");
}

.rightSide {
  background-image: url("../../public/images/hero-right.png");
}

.baked-bg {
  background-image: url("../../public/images/baked-bg.png");
}

.cta {
  background-image: url("../../public/images/cta-bg.png");
}

@media screen and (max-width: 768px) {

  body,
  html {
    overflow-x: hidden;
  }

  .cta {
    background-image: url("../../public/images/cta-mobile-bg.png");
  }

}